@import "reset.css";
@font-face {
  font-family: "Hagrid Bold";
  font-weight: auto;
  src: url(fonts/hagrid-bold.ttf)
  format('truetype');
}
@font-face {
  font-family: "Hagrid Medium";
  font-weight: auto;
  src: url(fonts/hagrid-medium.ttf)
  format('truetype');
}
@font-face {
  font-family: "Hagrid Regular";
  font-weight: auto;
  src: url(fonts/hagrid-Regular.otf)
  format('opentype');
}
@font-face {
  font-family: "Proxima Regular";
  font-weight: auto;
  src: url(fonts/ProximaNova-Regular.ttf)
  format('truetype');
}
@font-face {
  font-family: "Proxima Bold";
  font-weight: auto;
  src: url(fonts/ProximaNova-Bold.ttf)
  format('truetype');
}


/* additional fonts */
@font-face {
  font-family: "Gilroy-SemiBold";
  font-weight: auto;
  src: url(fonts/Gilroy-SemiBold.ttf)
  format('truetype');
}
@font-face {
  font-family: "Gilroy-Medium";
  font-weight: auto;
  src: url(fonts/Gilroy-Medium.ttf)
  format('truetype');
}
@font-face {
  font-family: "Gilroy-Regular";
  font-weight: auto;
  src: url(fonts/Gilroy-Regular.ttf)
  format('truetype');
}
@font-face {
  font-family: "AkzidenzGrotesk";
  font-weight: auto;
  src: url(fonts/AkzidenzGroteskPro-Regular.ttf)
  format('truetype');
}
@font-face {
  font-family: "Gotham";
  font-weight: auto;
  src: url(fonts/GothaProReg.otf)
  format('opentype');
}
@font-face {
  font-family: "Oldbaskerville";
  font-weight: auto;
  src: url(fonts/7092.otf)
  format('opentype');
}
@font-face {
  font-family: "ScotchModern-Bold";
  font-weight: auto;
  src: url(fonts/ScotchModern-Bold.otf)
  format('opentype');
}
@font-face {
  font-family: "Caslon";
  font-weight: auto;
  src: url(fonts/7092.ttf)
  format('truetype');
}
@font-face {
  font-family: "Swift";
  font-weight: auto;
  src: url(fonts/Swift-Bold.ttf)
  format('truetype');
}
@font-face {
  font-family: "TrajanPro3-Regular";
  font-weight: auto;
  src: url(fonts/TrajanPro3-Regular.otf)
  format('opentype');
}
@font-face {
  font-family: "Caslon";
  font-weight: auto;
  src: url(fonts/7129.ttf)
  format('truetype');
}
@font-face {
  font-family: "Garamond";
  font-weight: auto;
  src: url(fonts/GARA.TTF)
  format('truetype');
}
@font-face{
  font-family: "Adobe Jenson";
  font-weight: auto;
  src: url(fonts/Adobe-Jenson.ttf)
  format('truetype');
}
@font-face{
  font-family: "Futura Regular";
  font-weight: auto;
  src: url(fonts/FuturaBookC.ttf)
  format('truetype');
}
@font-face{
  font-family: "Clarendon Regular";
  font-weight: auto;
  src: url(fonts/Clarendon Regular.otf)
  format('opentype');
}
body{
  background-color: #fff;
  overflow-x: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-top: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
header .links{
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}
header .links a:nth-of-type(2){
  margin-left: 4vw;
}
header .links:last-child{
  text-decoration: none;
}
header .menu{
  display: flex;
}
header .menu img{
  width: 2.5vw;
  height: auto;
  margin: 0vw;
}

.links a{
  font-family: "Hagrid Medium",helvetica, sans-serif;
  font-size: 1vw;
  color: #000;
  text-decoration: underline;
  margin-left: 1vw;
}
.links a:hover{
  text-decoration: none;
}
.links a img{
  position: absolute;
  top: 1.3vw;
  right: 2vw;
  width: 2.5vw;
}
header .burger{
  display: none;
  position: absolute;
  z-index: 10;
  background-color: #000;
  color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow-y: hidden;
}
header .menu img:hover{
  cursor: pointer;
}
header .burger{
  position: absolute;
}
header .burger .zag {
  z-index: 10;
}

header .burger .zag a:first-child{
  margin-top: 1vw;
  margin-left: 40vw;
}
header .burger .zag a h2:hover{
  transform: scale(1.1);
  transform-origin: center;
  transition: 200ms ease;
}
header .burger .zag a:nth-of-type(2) h2:hover{
   margin-left: 3vw;
}
header .burger .zag a:nth-of-type(3) h2:hover{
  margin-left: 1vw;
}
header .burger .zag a:nth-of-type(4) h2:hover{
  margin-left: 2vw;
}
header .burger .zag a:nth-of-type(6) h2:hover{
  margin-left: 1.5vw;
}
header .burger .zag a:nth-of-type(2){
  margin-top: 1vw;
  margin-left: -30vw;
}
header .burger .zag a:nth-of-type(3){
  margin-top: 1vw;
  margin-left: 10vw;
}
header .burger .zag a:nth-of-type(4){
  margin-top: 1vw;
  margin-left: -10vw;
}
header .burger .zag a:nth-of-type(5){
  margin-top: 1vw;
  margin-left: 33vw;
}
header .burger .zag a:nth-of-type(6){
  margin-top: 1vw;
  margin-left: -25vw;
}
header .burger .zag,
header .burger .lines{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2vw;
}
.burger .lines .rect{
  background-color: #fff;
  width: 90vw;
  height: 0.15vw;
  margin-top: 7vw;
}
header .burger > img{
  width: 2.5vw;
  height: auto;
  margin-left: -2vw;
  margin-top: 2vw;
}
.burger .beans img{
  width: 4.5vw;
}
.burger .beans img:first-child{
  position: absolute;
  left: 40vw;
  top: 3vw;
}
.burger .beans img:nth-of-type(2){
  position: absolute;
  margin-left:  70vw;
  margin-top: 5vw;
  transform: rotate(45deg);
  transform-origin: top left;
}
.burger .beans img:nth-of-type(3){
  position: absolute;
  margin-left:  5vw;
  margin-top: 15vw;
  transform: rotate(-25deg);
  transform-origin: top left;
}
.burger .beans img:nth-of-type(4){
  position: absolute;
  margin-left:  55vw;
  margin-top: 22vw;
}
.burger .beans img:nth-of-type(5){
  position: absolute;
  margin-left:  2vw;
  margin-top: 30vw;
}
.burger .beans img:nth-of-type(6){
  position: absolute;
  margin-left:  80vw;
  margin-top: 39vw;
  transform: rotate(45deg);
  transform-origin: top left;
}
.burger a{
  color: #fff;
  text-decoration: none;
  font-family: "Hagrid Medium", helvetica, sans-serif;
  font-size: 3.5vw;
  padding-left: 35vw;
}
.burger h2{
  margin-top: -2vw;
  padding-top: 4.6vw;
}
.burger:nth-child(2){
  padding-left: 5vw;
}
header .burger .zag a:nth-of-type(7) h2,
header .burger .zag a:nth-of-type(8) h2{
  display: none;
}
.burger .lines .rect:nth-of-type(7),
.burger .lines .rect:nth-of-type(8){
  display: none;
}
header .links img:hover, .burger > img:hover{
  transition: 0.70s;
  transform: rotate(360deg);
  transform-origin: center;
}


h1{
  margin-top: 16vw;
  text-align: center;
  font-family: "Hagrid bold", helvetica, sans-serif;
  font-size: 10vw;
  z-index: 10;
}
h1:hover{
  cursor: pointer;
}
.wrapper{
  position: absolute;
  margin-top: -30vw;
  filter: blur(10px);
  transition: 200ms ease;
}
.block_1{
  position: absolute;
  border: 0.2vw solid #000;
  background-color: none;
  width: 9vw;
  height: 9vw;
  color: #000;
  transform: translateX(20vw);
  z-index: -5;
}
/* .block_1{
  display: none;
} */

.numbers, .numbers + p{
  font-family: 'Gilroy-Medium', helvetica, sans-serif;
  margin-right: 0.8vw;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.block_1 h2{
  font-size: 3.2vw;
  font-weight: 400;
  margin-left: 1vw;
  margin-top: 1.5vw;
}
.block_1 p{
  font-size: 0.9vw;
  font-weight: 400;
  margin-left: 1vw;
}

.numbers{
  margin-top: 0.8vw;
}

.numbers p:last-child{
  font-size: 1.2vw;
  font-weight: bold;
  font-family: 'Gilroy-Regular', helvetica, sans-serif;
  margin-right: 0.2vw;
}
.block_1 h2 + p{
  font-family: 'Gilroy-Regular', helvetica, sans-serif;
  font-size: 1.2vw;
  margin-top: auto;
}


/* ШРИФТЫ */
.wrapper .block_1:nth-of-type(1) h2{
  font-family: "ScotchModern-Bold", serif;
}
.wrapper .block_1:nth-of-type(2) h2{
  font-family: times, serif;
}
.wrapper .block_1:nth-of-type(3) h2{
  font-family: "Hagrid Regular", sans-serif;
}
.wrapper .block_1:nth-of-type(4) h2{
  font-family: "Didot Regular", serif;
}
.wrapper .block_1:nth-of-type(5) h2{
  font-family: "Futura Regular", sans-serif;
}
.wrapper .block_1:nth-of-type(6) h2{
  font-family: "Oldbaskerville", serif;
}
.wrapper .block_1:nth-of-type(7) h2{
  font-family: "AkzidenzGroteskPro-Regular", sans-serif;
}
.wrapper .block_1:nth-of-type(8) h2{
  font-family: "Adobe Jenson", serif;
}
.wrapper .block_1:nth-of-type(9) h2{
  font-family: "Trajan-Regular", serif;
}
.wrapper .block_1:nth-of-type(10) h2{
  font-family: "Bodoni", serif;
}

footer{
  position: relative;
  top: 21vw;
  display: flex;
  justify-content: space-between;
  color: #000;
  margin-left: 3vw;
  margin-right: 3vw;
}
footer p{
  font-family: "Proxima Bold";
  font-size: 1.2vw;
}
footer a img{
  max-height: 3vw;
}

/* адаптив */

@media (max-width: 1024px) {
  header{
    margin-top: 4vw;
  }
  header .burger{
    height: 1366px;
  }
  header .menu img{
    width: 3.5vw;
  }
  header .menu h2{
    font-size: 3.5vw;
  }
  .links a{
    font-size: 1.5vw;
  }
  .links a img{
    width: 3vw;
    top: 3vw;
  }
  .burger .lines .rect{
    background-color: #fff;
    width: 80vw;
    margin-top: 15vw;
    margin-left: 6vw;
}
header .burger .zag a:first-child,
header .burger .zag a:nth-of-type(2),
header .burger .zag a:nth-of-type(3),
header .burger .zag a:nth-of-type(4),
header .burger .zag a:nth-of-type(5),
header .burger .zag a:nth-of-type(6){
  margin-top: 9vw;
}
.burger .beans img:first-child{
  position: absolute;
  left: 40vw;
  top: 10vw;
}
.burger .beans img:nth-of-type(2){
  margin-left:  70vw;
  margin-top: 20vw;
}
.burger .beans img:nth-of-type(3){
  margin-left:  5vw;
  margin-top: 29vw;
}
.burger .beans img:nth-of-type(4){
  margin-left:  55vw;
  margin-top: 45vw;
}
.burger .beans img:nth-of-type(5){
  margin-left:  5vw;
  margin-top: 60vw;
}
.burger .beans img:nth-of-type(6){
  margin-left:  80vw;
  margin-top: 79vw;
}

h1{
  font-size: 10vw;
  margin-top: 66vw;
  margin-bottom: 30vw;
}
.wrapper{
  margin-top: -100vw;
}
footer{
  top: 16vw;
}
footer p{
  font-size: 2vw;
}
@media (max-width: 320px) {
  header .burger{
    height: 568px;
  }
  header .links a:first-child,
  header .links a:nth-of-type(2){
  display: none;
  }
  header .menu h2{
    display: block;
    font-size: 4vw;
    margin-left: 30vw;
    text-align: center;
    margin-top: 5vw;
  }
  .menu img:first-child{
   width: 6vw;
   margin: 4vw;
  }
  header .links a:last-child img{
   width: 5.6vw;
   margin-top: 4vw;
   margin-right: 4vw;
  }

  header .burger .zag a:nth-of-type(7) h2,
  header .burger .zag a:nth-of-type(8) h2{
   display: block;
  }
  .burger .lines .rect:nth-of-type(7),
  .burger .lines .rect:nth-of-type(8){
   display: block;
  }

  header .burger > img{
   width: 6vw;
   height: auto;
   margin-top: 7vw;
   margin-left: 2vw;
  }
 .burger .lines .rect{
   background-color: #fff;
   width: 80vw;
   margin-top: 20vw;
   margin-left: 6vw;
}
header .burger .zag a:first-child,
header .burger .zag a:nth-of-type(2),
header .burger .zag a:nth-of-type(3),
header .burger .zag a:nth-of-type(4),
header .burger .zag a:nth-of-type(5),
header .burger .zag a:nth-of-type(6),
header .burger .zag a:nth-of-type(7),
header .burger .zag a:nth-of-type(8){
 margin-top: 12vw;
}
header .burger .zag a:nth-of-type(4){
   margin-top: 13vw;
}
header .burger .zag a:nth-of-type(5){
   margin-top: 13vw;
   margin-left: 10vw;
}
header .burger .zag a:nth-of-type(7){
   margin-top: 13vw;
   margin-left: 1vw;
}
header .burger .zag a:nth-of-type(8){
   margin-top: 12vw;
   margin-left: 12vw;
}
header .burger .zag a:first-child{
   margin-left: 30vw;
}
header .burger .zag a h2{
 font-size: 5vw;
}
.burger .beans img:first-child{
 left: 40vw;
 top: 20vw;
}
.burger .beans img:nth-of-type(2){
 margin-left:  70vw;
 margin-top: 25vw;
}
.burger .beans img:nth-of-type(3){
 margin-left:  5vw;
 margin-top: 80vw;
}
.burger .beans img:nth-of-type(4){
 margin-left:  55vw;
 margin-top: 56vw;
}
.burger .beans img:nth-of-type(5){
 margin-left:  25vw;
 margin-top: 95vw;
}
.burger .beans img:nth-of-type(6){
 margin-left:  80vw;
 margin-top: 120vw;
}
.burger .beans img{
  width: 7vw;
}


h1{
  font-size: 10vw;
  margin-top: 70vw;
  margin-bottom: 65vw;
}
.wrapper{
  margin-top: -130vw;
}
footer{
  top: 6vw;
}
footer p{
 font-size: 2vw;
 margin-top: 4vw;
}
}
