@import "../reset.css";
@font-face {
  font-family: "Hagrid-Bold";
  font-weight: auto;
  src: url(../fonts/hagrid-bold.otf)
  format('opentype');
}
@font-face {
  font-family: "Hagrid-Medium";
  font-weight: auto;
  src: url(../fonts/Hagrid-Medium.otf)
  format('opentype');
}
@font-face {
  font-family: "Proxima-Regular";
  font-weight: auto;
  src: url(../fonts/ProximaNova-Regular.ttf)
  format('truetype');
}
@font-face {
  font-family: "Proxima-Bold";
  font-weight: auto;
  src: url(../fonts/ProximaNova-Bold.ttf)
  format('truetype');
}

body{
  background-color: #000;
  overflow-x: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;
}
header .links{
  display: flex;
  justify-content: space-between;
  margin-right: 5vw;
}
header .menu h2{
  font-family: "Hagrid-Medium",helvetica, sans-serif;
  font-size: 2.5vw;
  margin-left: 3vw;
  color: #fff;
}
header .links a:nth-of-type(2){
  margin-left: 4vw;
}
header .links:last-child{
  text-decoration: none;
}
header .menu{
  display: flex;
}
header .menu img{
  width: 2.5vw;
  height: auto;
  margin: 0vw;
}
.links a{
  font-family: "Hagrid-Medium", helvetica, sans-serif;
  font-size: 1vw;
  color: #fff;
  text-decoration: underline;
  margin-left: 1vw;
}
.links a:hover{
  text-decoration: none;
}
.links a img{
  position: absolute;
  top: 1.3vw;
  right: 2vw;
  width: 2.5vw;
}
header .burger{
  display: none;
  position: absolute;
  z-index: 120;
  background-color: #000;
  color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow-y: hidden;
}
header .menu img:hover{
  cursor: pointer;
}
header .burger .zag {
  z-index: 10;
}
header .burger .zag a:first-child{
  margin-top: 1vw;
  margin-left: 40vw;
}
header .burger .zag a:nth-of-type(2){
  margin-top: 1vw;
  margin-left: -30vw;
}
header .burger .zag a:nth-of-type(3){
  margin-top: 1vw;
  margin-left: 10vw;
}
header .burger .zag a:nth-of-type(4){
  margin-top: 1vw;
  margin-left: -10vw;
}
header .burger .zag a:nth-of-type(5){
  margin-top: 1vw;
  margin-left: 33vw;
}
header .burger .zag a:nth-of-type(6){
  margin-top: 1vw;
  margin-left: -25vw;
}
header .burger .zag a h2:hover{
  transform: scale(1.1);
  transform-origin: center;
  transition: 200ms ease;
}
header .burger .zag a:nth-of-type(2) h2:hover{
   margin-left: 3vw;
}
header .burger .zag a:nth-of-type(3) h2:hover{
  margin-left: 1vw;
}
header .burger .zag a:nth-of-type(4) h2:hover{
  margin-left: 2vw;
}
header .burger .zag a:nth-of-type(6) h2:hover{
  margin-left: 1.5vw;
}
header .burger .zag a:nth-of-type(7) h2,
header .burger .zag a:nth-of-type(8) h2{
  display: none;
}
header .burger .zag,
header .burger .lines{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 2vw;
}
.burger .lines .rect{
  background-color: #fff;
  width: 90vw;
  height: 0.15vw;
  margin-top: 7vw;
}
.burger .lines .rect:nth-of-type(7),
.burger .lines .rect:nth-of-type(8){
  display: none;
}
header .burger > img{
  width: 2.5vw;
  height: auto;
  margin-left: -2vw;
  margin-top: 2vw;
}
.burger .beans img{
  width: 4.5vw;
}
.burger .beans img:first-child{
  position: absolute;
  left: 40vw;
  top: 3vw;
}
.burger .beans img:nth-of-type(2){
  position: absolute;
  margin-left:  70vw;
  margin-top: 5vw;
  transform: rotate(45deg);
  transform-origin: top left;
}
.burger .beans img:nth-of-type(3){
  position: absolute;
  margin-left:  5vw;
  margin-top: 15vw;
  transform: rotate(-25deg);
  transform-origin: top left;
}
.burger .beans img:nth-of-type(4){
  position: absolute;
  margin-left:  55vw;
  margin-top: 22vw;
}
.burger .beans img:nth-of-type(5){
  position: absolute;
  margin-left:  2vw;
  margin-top: 30vw;
}
.burger .beans img:nth-of-type(6){
  position: absolute;
  margin-left:  80vw;
  margin-top: 39vw;
  transform: rotate(45deg);
  transform-origin: top left;
}

.burger a{
  color: #fff;
  text-decoration: none;
  font-family: "Hagrid-Medium", helvetica, sans-serif;
  font-size: 3.5vw;
  padding-left: 35vw;
}
.burger h2{
  margin-top: -2vw;
  padding-top: 4.6vw;
}
.burger:nth-child(2){
  padding-left: 5vw;
}


.wrapper{
  overflow: hidden;
  margin-left: 5vw;
}
.wrapper .box{
  position: absolute;
  display: grid;
  grid-template-rows: 3vw 3vw 10vw;
  border: 0.1vw solid #fff;
  width: 20vw;
  filter: drop-shadow(0 0 3vw rgba(0,0,0,0.5));
}
.wrapper .box .name, .sign{
   background-color: #000;
   border: 0.1vw solid #fff;
   width: 20vw;
   margin-left: -0.1vw;
   margin-top: -0.1vw;
}
.wrapper .box .name:hover{
  cursor: pointer;
}
.box .name h3{
  color: #fff;
  font-size: 1vw;
  font-family: "Hagrid-Medium", helvetica, sans-serif;
  margin: 1vw;
}
.box .sign img{
  height: 1.3vw;
  margin-left: 1vw;
  margin-top: 0.6vw;
}
.box .palette{
  background-color: #000;
  border-right: 0.1vw solid #fff;
}
.box .palette .color{
  display: block;
  position: absolute;
  width: 20vw;
  height: 10vw;
  background-color: #210E0E;
  border: 0.1vw solid #fff;
  margin-left: -0.1vw;
  margin-top: -0.1vw;
  z-index: 2;
  opacity: 1;
}
.box .palette .color:hover{
    opacity: 0;
    transition: ease-in-out 200ms;
}
.box .palette p{
  position: absolute;
  color: #fff;
  font-size: 1vw;
  font-family: "Proxima-Regular", helvetica, sans-serif;
  margin-left: 2vw;
  margin-top: 1vw;
}
.box .palette p span{
  display: flex;
  flex-direction: column;
  height: 1.3vw;
}
.box .palette p{
z-index: 0;
}

.wrapper .box:first-child{
  z-index: 1;
  margin-left: 2vw;
  margin-top: 20vw;
}
.wrapper .box:nth-of-type(2){
  z-index: 2;
  margin-left: 14vw;
  margin-top: 15vw;
}
.wrapper .box:nth-of-type(2) .color{
  background-color: #3D2828;
}
.wrapper .box:nth-of-type(3){
  z-index: 3;
  margin-left: 20vw;
  margin-top: 7vw;
}
.wrapper .box:nth-of-type(3) .color{
  background-color: #483A3A;
}
.wrapper .box:nth-of-type(4){
  z-index: 4;
  margin-left: 37vw;
  margin-top: 3vw;
}
.wrapper .box:nth-of-type(4) .color{
  background-color: #645252;
}
.wrapper .box:nth-of-type(5){
  z-index: 5;
  margin-left: 46vw;
  margin-top: 10vw;
}
.wrapper .box:nth-of-type(5) .color{
  background-color: #8A7C7C;
}
.wrapper .box:nth-of-type(6){
  z-index: 6;
  margin-left: 57vw;
  margin-top: 5vw;
}
.wrapper .box:nth-of-type(6) .color{
  background-color: #928176;
}
.wrapper .box:nth-of-type(7){
  z-index: 7;
  margin-left: 68vw;
  margin-top: 15vw;
}
.wrapper .box:nth-of-type(7) .color{
  background-color: #B5A399;
}
.wrapper .box:nth-of-type(8){
  z-index: 8;
  margin-left: 56vw;
  margin-top: 25vw;
}
.wrapper .box:nth-of-type(8) .color{
  background-color: #DDDAD6;
}

footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #fff;
  margin-left: 3vw;
  margin-right: 3vw;
  top: 46vw;
  bottom: 2vw;
}
footer p{
  font-family: "Proxima-Bold";
  font-size: 1.2vw;
}
footer a img{
  max-height: 3vw;
  margin-left: 0.6vw;
}



/* адаптив */

@media (max-width: 1024px) {
  header{
    margin-top: 4vw;
  }
  header .burger{
    height: 1366px;
  }
  header .menu img{
    width: 3vw;
  }
  header .menu h2{
    font-size: 3vw;
  }
  .links a{
    font-size: 1.2vw;
  }
  .links a img{
    width: 3vw;
    top: 3vw;
  }
  header .burger > img{
    width: 3.5vw;
    margin-left: -2vw;
    margin-top: 4vw;
  }
  .burger .lines .rect{
    background-color: #fff;
    width: 80vw;
    margin-top: 15vw;
    margin-left: 6vw;
}
header .burger .zag a:first-child,
header .burger .zag a:nth-of-type(2),
header .burger .zag a:nth-of-type(3),
header .burger .zag a:nth-of-type(4),
header .burger .zag a:nth-of-type(5),
header .burger .zag a:nth-of-type(6){
  margin-top: 9vw;
}
.burger .beans img:first-child{
  position: absolute;
  left: 40vw;
  top: 10vw;
}
.burger .beans img:nth-of-type(2){
  margin-left:  70vw;
  margin-top: 20vw;
}
.burger .beans img:nth-of-type(3){
  margin-left:  5vw;
  margin-top: 29vw;
}
.burger .beans img:nth-of-type(4){
  margin-left:  55vw;
  margin-top: 45vw;
}
.burger .beans img:nth-of-type(5){
  margin-left:  5vw;
  margin-top: 60vw;
}
.burger .beans img:nth-of-type(6){
  margin-left:  80vw;
  margin-top: 79vw;
}

.wrapper{
  margin: 0;
  margin-top: vw;
}
.wrapper .box{
  position: absolute;
  display: grid;
  grid-template-rows: 4vw 4vw 20vw;
  border: 0.05vw solid #fff;
  width: 37vw;
  height: 30vw;
}
.wrapper .box .name, .sign{
   width: 37vw;
}
.box .name h3{
  font-size: 2vw;
  margin: 1.5vw;
}
.box .sign img{
  height: 2vw;
}
.box .palette{
  height: 22vw;
}
.box .palette .color{
  width: 37vw;
  height: 22vw;
  border: 0.05vw solid #fff;
}
.box .palette p{
  font-size: 2vw;
  margin: 3vw;
  width: 33vw;
}
.box .palette p span{
    height: 3vw;

}
.box .sign img{
  height: 2vw;
  margin: 1vw;
}

.wrapper .box:first-child{
  margin-left: 22vw;
  margin-top: 6vw;
}
.wrapper .box:nth-of-type(2){
  margin-left: 54vw;
  margin-top: 15vw;
}
.wrapper .box:nth-of-type(3){
  margin-left: 12vw;
  margin-top: 30vw;
}
.wrapper .box:nth-of-type(4){
  margin-left: 42vw;
  margin-top: 41vw;
}
.wrapper .box:nth-of-type(5){
  margin-left: 18vw;
  margin-top: 58vw;
}
.wrapper .box:nth-of-type(6){
  margin-left: 52vw;
  margin-top: 65vw;
}
.wrapper .box:nth-of-type(7){
  margin-left: 27vw;
  margin-top: 74vw;
}
.wrapper .box:nth-of-type(8){
  margin-left: 56vw;
  margin-top: 84vw;
}


footer{
  margin-top: 116vw;
}
footer p{
  font-size: 2vw;
}
}
@media (max-width: 320px) {
  header .burger{
    height: 568px;
  }
  header .links a:first-child,
  header .links a:nth-of-type(2){
  display: none;
  }
 header .menu h2{
   font-size: 4vw;
   margin-left: 24vw;
   text-align: center;
   margin-top: 5vw;

 }
 .menu img:first-child{
   width: 6vw;
   margin: 4vw;
 }
 header .links a:last-child img{
   width: 5.6vw;
   margin-top: 4vw;
   margin-right: 4vw;
 }
 header .burger .zag a:nth-of-type(7) h2,
 header .burger .zag a:nth-of-type(8) h2{
   display: block;
 }
 .burger .lines .rect:nth-of-type(7),
 .burger .lines .rect:nth-of-type(8){
   display: block;
 }

 header .burger > img{
   width: 6vw;
   height: auto;
   margin-top: 7vw;
   margin-left: 2vw;
 }
 .burger .lines .rect{
   background-color: #fff;
   width: 80vw;
   margin-top: 20vw;
   margin-left: 6vw;
}
header .burger .zag a:first-child,
header .burger .zag a:nth-of-type(2),
header .burger .zag a:nth-of-type(3),
header .burger .zag a:nth-of-type(4),
header .burger .zag a:nth-of-type(5),
header .burger .zag a:nth-of-type(6),
header .burger .zag a:nth-of-type(7),
header .burger .zag a:nth-of-type(8){
 margin-top: 12vw;
}
header .burger .zag a:nth-of-type(4){
   margin-top: 13vw;
}
header .burger .zag a:nth-of-type(5){
   margin-top: 13vw;
   margin-left: 10vw;
}
header .burger .zag a:nth-of-type(7){
   margin-top: 13vw;
   margin-left: 1vw;
}
header .burger .zag a:nth-of-type(8){
   margin-top: 12vw;
   margin-left: 12vw;
}
header .burger .zag a:first-child{
   margin-left: 30vw;
}
header .burger .zag a h2{
 font-size: 5vw;
}
.burger .beans img:first-child{
 left: 40vw;
 top: 20vw;
}
.burger .beans img:nth-of-type(2){
 margin-left:  70vw;
 margin-top: 25vw;
}
.burger .beans img:nth-of-type(3){
 margin-left:  5vw;
 margin-top: 80vw;
}
.burger .beans img:nth-of-type(4){
 margin-left:  55vw;
 margin-top: 56vw;
}
.burger .beans img:nth-of-type(5){
 margin-left:  25vw;
 margin-top: 95vw;
}
.burger .beans img:nth-of-type(6){
 margin-left:  80vw;
 margin-top: 120vw;
}
.burger .beans img{
  width: 7vw;
}


.wrapper .box{
  grid-template-rows: 7vw 7vw 40vw;
  width: 60vw;
  height: 53.5vw;
}
.wrapper .box .name, .sign{
   width: 60vw;
   height: 20vw;
   margin-left: -0.3vw;
   margin-top: -0.3vw;
}
.box .name h3{
  font-size: 2.5vw;
  margin: 2vw;
}
.box .sign img{
  height: 3vw;
}
.box .palette .color{
  width: 60vw;
  height: 39vw;
  border: 0.05vw solid #fff;
  margin-left: -0.3vw;
}
.box .palette{
  margin-top: -0.2vw;
  border-bottom: 0.1vw solid #fff;
  border-top: 0.1vw solid #fff;
}
.box .palette p{
  font-size: 4vw;
  margin: 3vw;
}
.box .sign img{
  height: 3.5vw;
  margin: 1.5vw;
}

.wrapper .box:first-child{
  margin-left: 30vw;
  margin-top: 10vw;
}
.wrapper .box:nth-of-type(2){
  margin-left: 26vw;
  margin-top: 40vw;
}
.wrapper .box:nth-of-type(3){
  margin-left: 12vw;
  margin-top: 65vw;
}
.wrapper .box:nth-of-type(4){
  margin-left: 22vw;
  margin-top: 85vw;
}
.wrapper .box:nth-of-type(5){
  margin-left: 10vw;
  margin-top: 110vw;
}
.wrapper .box:nth-of-type(6){
  margin-left: 18vw;
  margin-top: 145vw;
}
.wrapper .box:nth-of-type(7){
  margin-left: 27vw;
  margin-top: 160vw;
}
.wrapper .box:nth-of-type(8){
  margin-left: 15vw;
  margin-top: 190vw;
}




footer{
  margin-top: 250vw;
  margin-bottom: 2vw;
}
footer p{
 font-size: 2.5vw;
 margin-top: 2vw;
}
footer .social a img{
  height: 3vw;
  margin-left: 0.3vw;
}
}
